<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/head"); %>
</head>
<body>
    <ol>
        <li><a href="/dashboard">Dashboard</a></li>
        <li>Add TODO</li>
    </ol>
    <h1>Add TODO</h1>
    <form action="/dashboard/add" method="POST">
        <div>
            <p>Title:</p>
            <input type="text" name="title" required>
        </div>
        <div>
            <p>Body:</p>
            <textarea size="50" name="body" id="body" required></textarea>
        </div>
        <button type="submit">Add</button>
    </form>

    <%- include("../../partials/footer") %>
</body>
</html>