<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
</head>
<body>
    <h1>404 - Oops, page not found...</h1>
    <a href="/">Go back to Home</a>

    <%- include("../partials/footer") %>
</body>
</html>