<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
</head>
<body>
    <h1>Access denied</h1>
    <p>Looks like you don't have access to this page.</p>
    <a href="/">Go back to Home</a>

    <%- include("../partials/footer") %>
</body>
</html>