* {
    margin: 5px;
    padding: 0;
    font-family: "arial";
}

body {
    background-color: #3c3c3c;
    color: #f1f1f1
}

a {
    padding: 5px;
    margin: 5px;
    color: #f1f1f1;
}

input {
    background-color: #5c5c5c;
    color: #f1f1f1;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #5c5c5c;
    color: #f1f1f1;
    border: none;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #4c4c4c;
}

.todo-body {
    word-wrap: break-word;
}
